body{
	background-image: url(http://s1.bwallpapers.com/wallpapers/2014/03/03/sea-night_015515480.jpg)
}
a{
	text-align: center;
	color: white;
	font-size: 22px;
	text-decoration: none;
	
}
h1,h2{
	text-align: center;	
}